.logo-empresa{
    background-color: blue;
    padding: 30px;
    border-radius: 20px;
    margin: 20px;
    width: 100px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.impreso{
    background-color: aquamarine;
    padding: 20px;
}
.sub_imagenes > img{
    background-color: blueviolet;
    padding: 20px;
    margin: 20px;
}